* {
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
  color: black;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #ff204e, #a0153e, #5d0e41, #00224d);
  padding: 10px;
}
.todo-app {
  width: 100%;
  max-width: 540px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.todo-app h2 {
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.todo-app h2 img {
  width: 30px;
  margin-left: 10px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f5f5f5;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: #f5f5f5;
  padding: 10px;
}
button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: linear-gradient(135deg, #ff204e, #a0153e);
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}
ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  background: transparent;
  color: #ffffff;
  position: relative;
}
ul li::before {
  content: " ";
  position: absolute;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-image: url(images/checkbox.png);
  background-size: cover;
  background-position: center;
  top: 8px;
  left: 8px;
}
ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(images/checked.png);
}
.close-icon {
  color: white;
  cursor: pointer;
  font-weight: bold;
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50px;
}

ul li span:hover {
  background: #555;
}
